<header>
	<%= "#{params[:tag]}"%>
</header>

<div id="photos">
	<% for photo in @list %>
	  <a href="<%= "/#{params[:tag]}/#{photo.id}" %>"><img class="photo" src="<%= FlickRaw.url_z(photo) %>" /></a>
	<% end %>
</div>
